@charset "UTF-8";

aside {
	width: 10%;
	background : #6495EC;
	font-size : 22px;
	font-weight : bold;
}
section {
	width : 87%;
}

section span {
	font-size : 40px;
	font-weight : bold;
}
.footer-aside {
	width: 10%;
}